@import url(https://fonts.googleapis.com/css?family=Nunito);.clone {
  color: red;
  font-size: 24px;
  font-weight: bolder;
}

.header {
  padding: 20px;
  background-image: linear-gradient(to right, lightblue, lightblue, white);
}

.header_logo {
  padding-left: 80px;
}

.header_middle {
  text-align: center;
}

.header_middle p {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.header_right {
  padding-left: 60px;
}

.header_right-part_top p {
  text-align: center;
  font-weight: bold;
}

.header_right-part_bottom p:first-child {
  font-weight: bold;
}

.header_right-part_bottom p {
  margin: 0;
}

.side-bar {
  background-color: lightgray;
  padding: 0;
}

.side-bar h4 {
  text-align: center;
  padding: 20px 0;
  background-color: #2a9055;
  color: white;
  margin-bottom: 30px;
}

.side-bar a {
  color: black;
  text-decoration: none;
}

.side-bar p {
  padding: 0 20px 10px 20px;
  border-bottom: 1.5px solid white;
}

.side-bar p:hover {
  color: gray;
}

.body {
  background-color: darkslateblue;
  padding: 10px 50px 50px 50px;
}

.body_search-panel {
  text-align: right;
  padding: 20px 20px 0 0;
  background-color: white;
}

.body_top {
  background-color: white;
  padding: 20px 5px;
  margin-bottom: 20px;
  margin-top: 40px;
}

.body_bottom {
  background-color: white;
  max-height: 500px;
  overflow: auto;
  padding: 30px;
}

.body_bottom table {
  width: 100%;
  border: 1px solid darkred;
  border-collapse: collapse;
  text-align: center;
}

.body_bottom table tr:nth-child(odd) {
  background-color: lightgrey;
}

.body_bottom table th,
.body_bottom table td {
  border: 1px solid darkred;
}

.body_bottom table th {
  font-size: 18px;
  padding: 5px 5px 5px 15px;
  font-weight: bolder;
}

.body_bottom table td {
  padding: 5px 5px 5px 15px;
  font-weight: bold;
}

.body_pagination {
  text-align: center;
  padding: 20px;
  background-color: white;
}

.selected span {
  color: white;
  font-weight: bold;
  background-color: #1b4b72;
}

.dropdownIcon {
  padding: 4px;
  border: 0.5px solid darkgray;
}

#dist_filter-button {
  background-color: lightgrey;
  padding: 8px;
}

#dist_filter-button option {
  background-color: white;
}

.sub_table-body {
  background-color: white;
}

.sub_table-body table {
  width: 50%;
  margin: 20px;
  border-collapse: collapse;
}

.sub_table-body table tr {
  border: 1px solid darkred;
}

.sub_table-body table tr td:nth-child(2) {
  width: 20px;
}

.sub_table-body table tr:nth-child(odd) {
  background-color: lightgrey;
}

.sub_table-body table th {
  font-size: 18px;
  padding: 5px 5px 5px 60px;
  font-weight: bolder;
  width: 250px;
}

.sub_table-body table td {
  padding: 5px 5px 5px 15px;
  font-weight: bold;
}

.sub_table-bottom {
  background-color: white;
  padding: 5px;
}

.sub_table-button {
  width: 50%;
}

.sub_table-button p {
  padding-left: 20px;
  font-weight: bolder;
}

#addDivisionForm select {
  padding: 3px;
  width: 160px;
}

