.body_bottom{
    padding: 30px;
    & table{
        width: 100%;
        border: 1px solid $tableLine;
        border-collapse: collapse;
        text-align: center;

    }
    & table th,td{
        border: 1px solid $tableLine;

    }
    & table th{
        font-size: 18px;
        padding: 5px 5px 5px 15px;
        font-weight: bolder;
    }
    & table td{
        padding: 5px 5px 5px 15px;
        font-weight: bold;
    }
}
