.body{
    background-color: darkslateblue;
    padding: 50px;

    &_search-panel{
        background-color: green;
    }

    &_top{
        background-color: white;
        padding: 20px 5px;
    }
    &_bottom{
        margin-top: 20px;
        background-color: white;
        padding: 20px 5px;
        height: 500px;
    }

}


